/* Fuente importada de Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Definición de colores */
:root {
  --color-principal: #e99104;
  --color-hover-principal: #e67e22;
  --color-secundario: #333;
  --color-menu-hamburguesa: #383838;
  --color-fondo: #f4f4f4;
  --color-enlace: #f39c12;
  --color-hover-enlace: #a66804;
  /* Naranja */
  --color-footer: #333;
  --color-blanco: whitesmoke;
  --color-gris: #ccc;
  /* Gris para bordes */
  --color-gris-claro: #ededed;
  /* Gris claro para secciones */
  --color-span: #f7c080;
  /* Color para porciones de texto */
}

/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

html,
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: auto;
  overflow-y: auto;
  margin: 0;
  box-sizing: border-box;
}

/* Estilo del cuerpo y tipografía */
body {
  line-height: 1, 5;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.85)), url("../Imagenes/fondo.jpg");
  background-color: rgba(0, 0, 0, 0.8);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: var(--color-blanco);
}

main {
  flex: 1;
  overflow-y: auto;
  height: auto;
  overflow: visible;
}

/* Estilo del menú */
.contenido-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--color-secundario);
}

.contenido-header h1 {
  color: var(--color-principal);
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--color-secundario);
  position: relative;
}

/* Barra de navegación */
#icono-nav {
  display: none;
  cursor: pointer;
  position: relative;
  font-size: 20px;
}

#icono-cerrar {
  display: none;
  position: absolute;
  top: 1px;
  right: 45px;
  font-size: 15px;
  color: var(--color-enlace);
  cursor: pointer;
  z-index: 9999;
}

nav ul {
  list-style-type: none;
  padding: 0;
  background-color: var(--color-secundario);
}

nav ul li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

nav ul li a {
  color: var(--color-blanco);
  text-decoration: none;
  padding: 15px;
  display: block;
  align-items: center;
}

nav ul li a:hover {
  background-color: #575757;
}

/* Redes sociales */
.redes-sociales {
  display: flex;
  justify-content: flex-end;
}

.redes-sociales a {
  color: var(--color-blanco);
  font-size: 20px;
  margin-left: 15px;
  text-decoration: none;
}

.redes-sociales a:hover {
  color: var(--color-principal);
}

/* Inicio */
.presentacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  color: var(--color-blanco);
}

.presentacion h2 span,
.descarga-cv h2 {
  color: var(--color-principal);
  font-weight: bold;
}

.presentacion a,
.descarga-cv a {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: var(--color-enlace);
  color: var(--color-blanco);
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.presentacion a:hover,
.descarga-cv a:hover {
  background-color: var(--color-hover-principal);
}

.imagen-contenedor {
  display: flex;
  justify-content: center;
  /* Centra la imagen dentro del contenedor */
  align-items: center;
  /* Centra la imagen verticalmente */
  width: 300px;
  /* Ajusta el tamaño del contenedor */
  height: 300px;
  /* Debe ser igual al ancho para hacerla circular */
  border-radius: 50%;
  /* Forma circular */
  overflow: hidden;
  /* Asegura que la imagen se recorte si es necesario */
  margin: 20px;
}

.imagen-presentacion {
  width: 100%;
  /* La imagen se ajusta al contenedor */
  height: 100%;
  /* La imagen también llena el contenedor en altura */
  object-fit: cover;
  /* Ajusta la imagen sin distorsionarla */
}

.descripcion,
.texto-cv {
  margin-top: 20px;
}

/* Formulario de contacto */
form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 20px auto;
}

form label {
  margin-bottom: 5px;
}

form input,
form textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid var(--color-gris);
  border-radius: 5px;
}

form button {
  padding: 10px 20px;
  background-color: var(--color-enlace);
  color: var(--color-blanco);
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: var(--color-hover-principal);
}

/* Sección de descarga de CV */
.descarga-cv {
  text-align: center;
  padding: 20px;
  color: var(--color-blanco);
}

/* Estilo para los títulos y subtítulos */
.titulo-acerca-de-mi,
.titulo-habilidades,
.titulo-formaciones,
.titulo-experiencia,
.titulo-contacto,
.titulo-CV {
  font-size: 2.5rem;
  margin: 20px;
  padding-left: 20px;
  width: 100%;
  text-align: start;
}

.formaciones-destacadas,
.subtitulo-habilidades-blandas,
.subtitulo-pasatiempos,
.subtitulo-experiencia {
  font-weight: italic bold;
  margin: 35px;
  color: var(--color-enlace);
  padding-left: 15px;
  width: 100%;
}

.subtitulo-empresa {
  margin: 35px;
  padding-right: 35px;
  padding-left: 35px;
  width: 100%;
}

.subtitulo-responsabilidades {
  font-weight: bold;
  font-style: oblique;
  text-decoration: underline;
  margin: 45px;
  padding-right: 45px;
  padding-left: 45px;
  width: 100%;
}

.presentacion-habilidades {
  font-style: italic;
  font-weight: normal;
  margin: 20px;
  padding-left: 25px;
  width: 100%;
  height: auto;
}

/* Otros estilos de contenido */
.acerca-de-mi-contenido,
.contenido-experiencia {
  margin-right: 30px;
}

.parrafo-experiencia,
.lista-habilidades-blandas,
.lista-pasatiempos,
.lista-experiencia,
.lista-formaciones {
  line-height: 1.5;
  width: 100%;
  height: auto;
  word-wrap: break-word;
  margin: 45px;
  padding-right: 45px;
  padding-left: 45px;
  overflow: visible;
}

.span-experiencia {
  font-weight: bold;
  color: var(--color-span);
}

.acerca-de-mi-texto {
  line-height: 1.5;
  width: 100%;
  height: auto;
  word-wrap: break-word;
  padding-left: 10px;
  overflow: visible;
  margin-top: 10px;
  font-size: 20px;
}

/* Footer */
footer {
  text-align: center;
  padding: 10px;
  background-color: var(--color-footer);
  color: var(--color-blanco);
  position: fixed;
  width: 100%;
  bottom: 0;
  margin-top: 20px;
  font-size: 0.8rem;
}

/* Enlaces del footer */
footer a {
  color: var(--color-principal);
  text-decoration: none;
  font-size: 0.8rem;
}

footer a:hover {
  text-decoration: underline;
}

/* Responsividad */
/* Estilo para menú en dispositivos móviles hasta 1024px */
@media (max-width: 1024px) {

  html,
  body {
    overflow-y: scroll;
  }

  nav ul {
    text-align: center;
    display: none;
    flex-direction: column;
    width: 100%;
  }

  nav ul.active {
    display: flex;
  }

  #icono-nav {
    display: block;
  }

  #icono-cerrar {
    display: block;
  }

  nav ul li {
    display: block;
  }

  nav ul li a {
    padding: 15px;
    border-top: 1px solid var(--color-hover-enlace);
  }

  nav ul li a:hover {
    background-color: var(--color-hover-principal);
  }

  .titulo-acerca-de-mi,
  .titulo-habilidades,
  .titulo-formaciones,
  .titulo-experiencia,
  .titulo-contacto,
  .titulo-CV {
    padding: 8px;
  }

  .formaciones-destacadas,
  .subtitulo-habilidades-blandas,
  .subtitulo-pasatiempos,
  .subtitulo-experiencia,
  .presentacion-habilidades {
    padding: 16px;
  }

  .subtitulo-empresa,
  .subtitulo-responsabilidades {
    padding: 32px;
  }

  .acerca-de-mi-texto,
  .parrafo-experiencia,
  .lista-habilidades-blandas,
  .lista-pasatiempos,
  .lista-experiencia,
  .lista-formaciones {
    font-size: 0.85rem;
    padding: 35px;
    height: auto;
  }

  footer {
    margin: auto;
    padding: 7px;
    font-size: 0.7rem;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  footer a {
    font-size: 0.7rem;
  }
}


/* Para pantallas hasta 768px */
@media (max-width: 768px) {

  html,
  body {
    overflow-y: scroll;
  }

  nav ul {
    text-align: center;
    display: none;
    flex-direction: column;
    width: 100%;
  }

  nav ul.active {
    display: flex;
  }

  #icono-nav {
    display: block;
  }

  #icono-cerrar {
    display: block;
  }

  nav ul li {
    display: block;
  }

  nav ul li a {
    padding: 15px;
    border-top: 1px solid var(--color-hover-enlace);
  }

  nav ul li a:hover {
    background-color: var(--color-hover-principal);
  }

  .titulo-acerca-de-mi,
  .titulo-habilidades,
  .titulo-formaciones,
  .titulo-experiencia,
  .titulo-contacto,
  .titulo-CV {
    padding: 10px;
  }

  .formaciones-destacadas,
  .subtitulo-habilidades-blandas,
  .subtitulo-pasatiempos,
  .subtitulo-experiencia,
  .presentacion-habilidades {
    padding: 20px;
  }

  .subtitulo-empresa,
  .subtitulo-responsabilidades {
    padding: 40px;
  }

  .acerca-de-mi-texto,
  .parrafo-experiencia,
  .lista-habilidades-blandas,
  .lista-pasatiempos,
  .lista-experiencia,
  .lista-formaciones {
    font-size: 0.75rem;
    padding: 45px;
    height: auto;
  }

  footer {
    margin: auto;
    padding: 7px;
    font-size: 0.7rem;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  footer a {
    font-size: 0.7rem;
  }
}